@model DAL.Models.DataExtra
@using MovieProject.ViewModels
@{
    ViewBag.Title = "ChangeRole";
}

<div class="form-inline">
    @if (Model.Role != null)
    {
    @Html.DropDownListFor(m => m.Role, new SelectList(UserRoles.Roles, "value", "text"), htmlAttributes: new { @class = "form-control", @id = "dropdown-wasea", @data_user_id = Model.UserId })
    }
    <button id="savebutton">Update</button>



</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        debugger;
        $("#savebutton").on("click", function () {
            var userId = $("#dropdown-wasea").attr("data-user-id");
            var role = $("#dropdown-wasea").val();
            $.ajax({
                     url: '@Url.Action("SetRole", "User")',
                data: { userId: userId, role: role },
                        success: function (result) {
                            alert(result);
                            location.reload();

                        }
            });
        });
    });

</script>