
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Online Credit</h1>
        <p class="splash-subhead">
            Get money online, without leaving the house.
        </p>
        <p>
            @Html.ActionLink("Apply Now", "Register", "Account", null, new { @class = "pure-button pure-button-primary" })
        </p>
    </div>
</div>
<div class="content-wrapper">
    <div class="content">
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-smile-o"></i>
                    Easy to use
                </h3>
                <p>
                    Simple forms makes a good experience.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Fast response
                </h3>
                <p>
                    Get the response of your request less than an hour.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-lock"></i>
                    Security
                </h3>
                <p>
                    We provide a maximum security of your dates.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-credit-card"></i>
                    Accesibility
                </h3>
                <p>
                    Easy money transfer on your credit card.
                </p>
            </div>
        </div>
    </div>
    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img alt="File Icons" class="pure-img-responsive" src="~/Content/layout/img/common/like.png" />
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
            <h2 class="content-head content-head-ribbon">A good choice.</h2>
            <p>
                Through our website you can quickly and easily get loans and credits in Chisinau.
                You will receive answers to all your credit-related questions and, by deciding on the conditions,
                you can submit your application online.
            </p>
        </div>
    </div>
    <div class="content">
        <h2 class="content-head is-center">WE SAY YES, EVERY TIME WHEN YOU NEED MONEY</h2>
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                Fulfill your desires without hesitation. Do not deny yourself in the little pleasures of life.
                Make gifts, travel, renovate your household appliances and solve any financial situations with Dacredit.

                Ready to postpone your own desires. You get the money right now, without moving in front of your computer.
            </div>
            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Us</h4>
                <p>
                    022 255 255
                    060 973 939
                </p>
                <h4>More Information</h4>

                <p>
                    <i class="fa fa-map-marker"></i>

                    mun. Chişinău, str. Puşkin, 1
                </p>
                <p>
                    Monday - Friday 09:00 -18:00
                </p>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/Template/vendor/jquery/jquery.min.js"></script>
