@model MovieProject.ViewModels.DashboardViewModel
<link href="~/Content/Site.css" rel="stylesheet" />
    <div>
        <div id="morris-donut-chart"></div>
    </div>

<script src="~/Content/Template/vendor/raphael/raphael.min.js"></script>
<script src="~/Content/Template/vendor/morrisjs/morris.min.js"></script>
<script>

    Morris.Donut({
        element: 'morris-donut-chart',
        data: [{
            label: "Approved Requests",
            value: @Model.ApprovedRequests,
        }, {
            label: "Cancelled Requests",
            value: @Model.CancelledRequests,

        }, {
            label: "Rejected Requests",
            value: @Model.RejectedRequests,
        }, {
            label: "Requests in Progress",
                value: @Model.InProgressRequests,
        }],
        labelColor: "#000",
        colors: ['#5cb85c', '#a51a00', '#d35800', '#337ab7'],
        resize: true
    });

</script>