﻿body{
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.hasborder {
    border: 2px solid darkblue;
}
.withoutborder {
    border: 2px solid white;
}
.invisible-button {
    background: transparent;
    pointer-events: none;
}
.btn {

}
.default-buttoncik {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    width: 35px;
    height: 35px;
    padding: 0px;
}
.weekend {
    background-color: #666666;
}
.zeroRequest {
    background-color: #bfbfbf;
}
.twoRequestMinus {
    background-color: #32CD32;
}
.fiveRequestMinus {
    background-color: #228B22;
}
.tenRequestMinus {
    background-color: #006400;
}